<%= form_with(model: @cliente, local: true, class: "form-horizontal") do |form| %>
<div class="row">
<div class="col-md-9">
 <%= render 'shared/form', obj: @cliente%>
 </div>
 </div>

  <div class="row">
<div class="col-md-3">   
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>
  </div>

<div class="row">
<div class="col-md-3">   
    <%= form.label :idade %>
    <%= form.number_field :idade, class: "form-control" %>
  </div>
  </div>

   <div class="form-group row justify-content-center">
    <%= form.submit class: "btn btn-success btn-lg" %>
  </div>
<% end %>
