
<div class="container">
<div class="row">
 <div class="col-md-3">
<%= link_to 'Novo', {controller: 'clientes', action: 'new'},  { :class=>"btn btn-success" }  %>
<div>
</div>
<h1>Listagem de Clientes</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Idade</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= link_to cliente.id,cliente_path(cliente) %></td>
        <td><%= cliente.nome %></td>
        <td><%= cliente.idade %></td>
        <td><%= link_to 'Show', cliente %></td>
       <%= link_to 'Editar', {action: 'edit', controller: 'clientes', id: cliente}, {class: "btn btn-primary"} %>
        </td>
        <td>
        <%= link_to 'Deletar', {action: 'destroy', id: cliente},
        {method: "delete", confirmation: "Are you sure?", class: "btn btn-danger"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>