<%= form_with(model: @restaurante, local: true, class: "form-horizontal")  do |f| %>
<div class="row">
<div class="col-md-9">
 <%= render 'shared/form', obj: @restaurante%>
 </div>
</div>
<div class="row">
<div class="col-md-3">
Nome: <%= f.text_field :nome, class:"form-control" %> <br/>
</div>
</div>
<div class="row">
<div class="col-md-3">
Endereço: <%= f.text_field :endereco, class:"form-control" %> <br/>
</div>
</div>
<div class="row">
<div class="col-md-3">
Especialidade: <%= f.text_field :especialidade, class:"form-control" %> <br/>
</div>
</div>
  <div class="form-group row justify-content-center">
   <%= f.submit class: "btn btn-success btn-lg" %>
  </div>
<% end %>