<div class="container">
<div class="row">
 <div class="col-md-3">
<div>
<%= link_to 'Novo', {controller: 'restaurantes', action: 'new'},  { :class=>"btn btn-success" }  %>
</div>
</div>
<h1>Listagem de Restaurantes</h1>
<div class="row">
<table class="table">
<tr>
<th>ID</th>
<th>Nome</th>
<th>Endereço</th>
<th>Especialidade</th>
<th colspan="2"></th>
</tr>
<% @restaurantes.each do |restaurante| %>
<tr>
<td><%= link_to restaurante.id,restaurante_path(restaurante) %></td>
<td><%= restaurante.nome %> </td>
<td><%= restaurante.endereco %> </td>
<td><%= restaurante.especialidade %> </td>
<td>
<%= link_to 'Editar', {action: 'edit', controller: 'restaurantes', id: restaurante}, {class: "btn btn-primary"} %>
</td>
<td>
<%= link_to 'Deletar', {action: 'destroy', id: restaurante},
{method: "delete", confirmation: "Are you sure?", class: "btn btn-danger"} %>
</td>
</tr>
<% end %>
</table>
</div>