<%= form_with(model: @qualificacao, local: true, class: "form-horizontal")  do |form| %>
<div class="row">
<div class="col-md-9">
 <%= render 'shared/form', obj: @qualificacao%>
 </div>
 </div>
<div class="row">
<div class="col-md-3">   
 <%= form.label :cliente_id %>
 <%= form.select :cliente_id, @clientes,{}, {:class => 'form-control' } %>
 </div>
 </div>
<div class="row">
<div class="col-md-3">   
 <%= form.label :restaurante_id %>
 <%= form.select :restaurante_id, @restaurantes ,{}, {:class => 'form-control'} %>
 </div>
 </div>
<div class="row">
<div class="col-md-3">
    <%= form.label :nota %>
    <%= form.text_field :nota, class: 'form-control' %>
</div>
</div>
<div class="row">
<div class="col-md-3">
    <%= form.label :valor_gasto %>
    <%= form.text_field :valor_gasto, class: 'form-control' %>
</div>
</div>
</div>

   <div class="form-group row justify-content-center">
   <%= form.submit class: "btn btn-success btn-lg" %>
  </div>
<% end %>
