<div class="container">
<div class="row">
 <div class="col-md-3">
<%= link_to 'Novo', {controller: 'qualificacoes', action: 'new'},  { :class=>"btn btn-success" }  %>
</div>
</div>
<p id="notice"><%= notice %></p>

<h1>Qualificacoes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Restaurante</th>
      <th>Nota</th>
      <th>Valor gasto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualificacoes.each do |qualificacao| %>
      <tr>
        <td><%= link_to qualificacao.id,qualificacao_path(qualificacao) %></td>
        <td><%= qualificacao.restaurante_id %></td>
        <td><%= qualificacao.nota %></td>
        <td><%= valor_formatado(qualificacao.valor_gasto) %></td>
       <td>
        <%= link_to 'Editar', {action: 'edit', controller: 'qualificacoes', id: qualificacao}, {class: "btn btn-primary"} %>
        </td>
        <td>
        <%= link_to 'Deletar', {action: 'destroy', id: qualificacao},
        {method: "delete", confirmation: "Are you sure?", class: "btn btn-danger"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualificacao', new_qualificacao_path %>
